# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Your Name will be requested for review when someone opens a pull request.
*       @Your Name

# Core implementation
*.js    @Your Name
*.py    @Your Name

# Documentation
/docs/   @Your Name
*.md     @Your Name

# GitHub CI/CD
/.github/ @Your Name
