# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# $author will be requested for review when someone opens a pull request.
*       @$author

# Core implementation
*.js    @$author
*.py    @$author

# Documentation
/docs/   @$author
*.md     @$author

# GitHub CI/CD
/.github/ @$author
